.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
  &-input {
    width: 30em;
    height: 2em;
    border-radius: 0.5em;
    background: #393939;
  }
  &-btn {
    width: 7.5em;
    height: 2em;
    border-radius: 0.5em;
    background: var(--verde);
  }
  &-btn:hover{
    background: #008549;
    cursor: pointer;
  }
}
