.Container {
  border-radius: 1em;
  overflow: hidden;
  overflow-x: scroll;
}
.Table {
  width: 100%;
  text-align: left;
  font-size: 1em;
    
  &-td {
    min-width: 6em;
    max-width: 6em;
    color: gray;
    background-color: #222;
    padding: 1em 0;
    vertical-align: middle;
  }
  &-td--section {
    text-align: center;
  }
  &-td--left {
    padding-left: 1.5em;
  }
  &-th{
    color: #00ad5f;
    text-transform: uppercase;
    background-color: #393939;
  }
  &-img {
    width: 6.3em;
  }
}